.error {
    color:red;
}

.success {
    color:green;
}

.rowAlign {
    display: inline-block;
    vertical-align: middle;
} 

.ui-icon-app-new,
.ui-icon-app-profile,
.ui-icon-app-save,
.ui-icon-app-logout,
.ui-icon-app-settings,
.ui-icon-app-edit,
.ui-icon-app-preference,
.ui-icon-app-qrcode,
.ui-icon-app-payment,
.ui-icon-app-sell,
.ui-icon-app-detail,
.ui-icon-app-login {
 background-image: url(wibi.png);
   background-repeat: no-repeat;    
    background-color:transparent;
    border-style: none;
    text-decoration:none;
    display:inline-block;
    width:32px;
    height:32px;
}	
.ui-icon-app-new{background-position:0px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-profile{background-position:-42px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-save{background-position:-84px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-logout{background-position:-126px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-login{background-position:-168px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-settings{background-position:-210px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-preference{background-position:-252px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-edit{background-position:-294px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-detail{background-position:-336px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-buy{background-position:-378px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-qrcode{background-position:-420px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-payment{background-position:-462px 0px ; width: 32px ; height: 32px; }
.ui-icon-app-sell{background-position:-504px 0px ; width: 32px ; height: 32px; }
